# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend-angular/dist
/frontend-angular/tmp
/frontend-angular/out-tsc
# Only exists if Bazel was run
/frontend-angular/bazel-out

# dependencies
/frontend-angular/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
/frontend-angular/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/frontend-angular/.sass-cache
/frontend-angular/connect.lock
/frontend-angular/coverage
/frontend-angular/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/frontend-angular/typings

# System Files
.DS_Store
Thumbs.db

/frontend/dist
/frontend/node_modules
/frontend/.env

/frontend/.DS_Store
# local env files
/frontend/.env.local
/frontend/.env.*.local

# Log files
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# Editor directories and files
/frontend/.idea
/frontend/.vscode
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
